
.sort{
    height: 30px;
    width: 100%;
    background-color: #EEEEEE;
}
.sort a{
    font-size: 12px;
    line-height: 30px;
    float: left;
    display: block;
    width: 25%;
    text-align: center;
    color:#333;    
}
.sort a.current {
    color:orange
}