/* 公共文件 */
*{
    padding: 0;
    margin: 0;
}
.body_bg{
    background-color: #222D32;
}

/* 可复用的类名 */
.mt_240{
    margin-top: 240px;
}

/* 登录页 */
.lt_login .panel-title{
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

/* 首页 */
